<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Simple, useful and pixel perfect </h2>
                <hr class="light">
                <p class="text-faded">We believe that life is simple, our mission is to solve customer real problems by building simple and useful products</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
